# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
classeAnomliaTermica = pd.Series(dados)
classeAnomliaTermica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [11]:
# seu código aqui
classeAnomliaTermicaCOMINDEX = pd.Series ([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02],
                                          index=['1900', '1920', '1940', '1960', '1980', '2000', '2020'])
classeAnomliaTermicaCOMINDEX

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [12]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
classeTemperaturasDict = {'1900': -.08,
                   '1920': -.27,
                   '1940': .12,
                   '1980': .26,
                   '2000': .40,
                   '2020': 1.02}
classeDicTemperaturas = pd.Series(classeTemperaturasDict)
classeDicTemperaturas

1900   -0.08
1920   -0.27
1940    0.12
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [13]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.Series(np.random.randn(3))
pd.Series(np.random.randn(10))
pd.Series(np.random.randn(20))
pd.Series(np.random.randn(100))
pd.Series(4, index=[100,10,20,3])

100    4
10     4
20     4
3      4
dtype: int64

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [31]:
#seu código aqui



              
meu_df = pd.DataFrame([[21,'F', 50, 1.57],[22,'F',58, 1.70]], index=range(0,2), columns=['Idade', 'Sexo', 'Peso', 'Altura'])
meu_df

   Idade Sexo  Peso  Altura
0     21    F    50    1.57
1     22    F    58    1.70

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [32]:
# seu código aqui
meu_df ['media'] = meu_df['Peso'] / meu_df['Altura'] / meu_df['Idade']
meu_df

   Idade Sexo  Peso  Altura     media
0     21    F    50    1.57  1.516530
1     22    F    58    1.70  1.550802

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [37]:
# seu código aqui

meu_df['log_med'] = meu_df['media']/2
meu_df

   Idade Sexo  Peso  Altura     media   log_med
0     21    F    50    1.57  1.516530  0.758265
1     22    F    58    1.70  1.550802  0.775401